* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* TOP NAVIGATION SECTION */
header {
    background-color: rgb(211, 211, 211);
    width: 100%;
}

table {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 20px;
}

.T-header div {
    padding-top: 20px;

}

.T-header input {
    padding: 10px;
    width: 40%;
    border-radius: 10px 0 0 10px;
    border: 2px solid whitesmoke;
}


.T-header button {
    padding: 10px;
    background-color: white;

    border-radius: 0 10px 10px 0;
    border: 2px solid whitesmoke;
}


/* <!-- PRODUCT SELECTION SECTION --> */
#TD1 {
    float: right;
}

#TD1 select {
    padding: 10px;
    padding: 10px 20px 10px 20px;
    border: 2px solid whitesmoke;
    border-radius: 5px;
}



/* PRODUCTS SECTION */
.container {
    border: 2px solid grey;
    border-radius: 10px;
    width: 100%;
    height: 30%;
    padding: 10px;
}

.T-product td {
    border-radius: 10px;
}


.label,
.discount {
    background-color: red;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
    margin: 10px;
}

.discount {
    background-color: forestgreen;
}

.T-product p,
strong,
span {
    margin: 5px;
}

.T-product .rating {
    margin: 5px;
    color: gold;
}

.T-product button {
    float: right;
    padding: 5px;
    background-color: forestgreen;
    color: white;
    border-radius: 5px;
}
